<!DOCTYPE html>
<html lang='en'>
<head>
    <title>Search Party</title>
    <meta charset='UTF-8'>
    <meta name='description' content="Search Party: this search is lit">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    {% load static %}
    <link href="{% static 'css/style.css' %}" rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Source+Sans+Pro:200,300,400,600,700,900' rel='stylesheet'>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <h1 class="home">Search:</h1>
    <input type="text" class="searchbox home shadowbox" placeholder="Yo, this search is lit" autofocus/>
</body>
</html>